.title {
	color: #ffffff;
	position: relative;
	top: 222px;
	font-family: 'Staatliches';
	font-size: 45pt;
}
.sidekick-find {
	color: #ffffff;
	position: relative;
	font-family: 'Staatliches';
	font-size: 22pt;
	top: 222px;
}
